Body{
  background-color: lightgreen;
  font-family: cursive;
}
#departing {
  border: 2px solid grey;
  padding:2px;
  margin:2px;

}

#returning {
  border:2px solid grey;
  padding:2px;
  margin:2px;
}
